{% extends 'base.html.twig' %}

{% block title %}Liste Atelier{% endblock %}

{% block body %}
    <h1>Liste Atelier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Date_atelier</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.id }}</td>
                <td>{{ atelier.title }}</td>
                <td>{{ atelier.duration }}</td>
                <td>{{ atelier.description }}</td>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ atelier.heure ? atelier.heure : '' }}</td>
                <td>
                    <a href="{{ path('app_atelier_show', {'id': atelier.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_atelier_new') }}">Create new</a>
    {% endif %}
{% endblock %}
