{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
        {% if is_granted('ROLE_ADMIN')%}
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Title</th>
                <td>{{ atelier.title }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ atelier.duration }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ atelier.description }}</td>
            </tr>
            <tr>
                <th>Date_atelier</th>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ atelier.heure ? atelier.heure : '' }}</td>
            </tr>
            <tr>
                <form method="post" action="{{ path('app_inscription', {'id': atelier.id}) }}">
                    <button type="submit">S'inscrire</button>
                </form>
            </tr>

        </tbody>
    </table>

    
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ECOLE') and atelier.ecole in user.ecoles)%}
        <h3>Inscriptions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Etudiant</th>
                    <th>Date d'inscription</th>
                </tr>
            </thead>
            <tbody>
            {% for inscription in inscriptions %}
                <tr>
                    <td>{{ inscription.eleve.name }}</td>
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune inscriptions</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a href="{{ path('app_atelier_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ECOLE') and atelier.ecole in user.ecoles)%}
        <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
    {% endif %}

    {{ include('atelier/_delete_form.html.twig') }}
{% endblock %}
