
<nav>
    <ul>
        
        <li><a href="{{ path('app_atelier_index') }}">Ateliers</a></li>
        {% if is_granted('ROLE_ADMIN')%}
            <li><a href="{{ path('app_forum_index') }}">Forums</a></li>
            <li><a href="{{ path('app_secteur_index') }}">Secteurs</a></li>
            <li><a href="{{ path('app_sponsor_index') }}">Sponsors</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ECOLE')%}
            <li><a href="{{ path('app_salle_index') }}">Salles</a></li>
            <li><a href="{{ path('app_intervenant_index') }}">Intervenants</a></li>
        {% endif %}
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>

    </ul>
</nav>
<style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    nav li {
        float: left;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav li a:hover {
        background-color: #111;
    }

</style>