{% extends 'base.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Liste Forum</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Theme</th>
                <th>Sponsor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.year }}</td>
                <td>{{ forum.theme }}</td>
                <td>
                {% for sponsor in forum.sponsors %}
                    {{ sponsor.name }} <br>
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_forum_show', {'id': forum.id}) }}">show</a>
                    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_new') }}">Create new</a>
{% endblock %}
